<div class="row">

  <div class="col-8">
    <app-doughnut-chart [chartLabels]="graficos.grafico1.labels" [chartData]="graficos.grafico1.data" chartType="doughnut"></app-doughnut-chart>
  </div>
  <div class="col-4">
    <app-doughnut-chart [chartLabels]="graficos.grafico2.labels" [chartData]="graficos.grafico2.data" chartType="doughnut"></app-doughnut-chart>
  </div>

</div>
<div class="row">

  <div class="col-4">
    <app-doughnut-chart [chartLabels]="graficos.grafico3.labels" [chartData]="graficos.grafico3.data" chartType="doughnut"></app-doughnut-chart>
  </div>
  <div class="col-8">
    <app-doughnut-chart [chartLabels]="graficos.grafico4.labels" [chartData]="graficos.grafico4.data" chartType="doughnut"></app-doughnut-chart>
  </div>

</div>